<div class="container index-title">
  <div>
    <br>
    <h1 class="text-center">Discover Your Nearby Florist!</h1>
    <p class="text-center">If you're looking to brighten up your home or are simply looking for something to show off to guests, then a plant may well be the thing to rent! And in the past few years, there has been a real resurgence in the popularity of houseplants, leading to a boom in plant shop openings across Paris. Here's the best shops to purchase them!
    Lotus know your favorite shops!</p>
  </div>
</div>
<br>
<div class="container">
  <div class="user-map">
    <% if @users.any? %>
      <div class="profil-card-container">
        <% @users.each do |user| %>
          <% if user.professional? %>
          <div class="user-card">
            <%= link_to user_path(user) do %>
              <div class="user-card-body">
                <div class="user-card-image">
                  <% if user.photo.attached? %>
                    <%= cl_image_tag user.photo.key, crop: :fill, class:"index-card-image"%>
                  <% end %>
                </div>
                <div class="user-card-info">
                <% if user.pro_name %>
                  <h5 class="user-card-title"><%= user.pro_name.length < 35 ? user.pro_name : user.pro_name.first(35)%></h5>
                <% end %>
                  <div class="user-card-text">
                     <% if user.plants.any? %>
                      <span><%= user.plants.count %> plants</span>
                      <% if user.reviews.any? %>
                        <span><% (user.reviews.map{|review| review.rating}.sum.to_f / user.reviews.count).round.times do %>
                          <i class="fa-solid fa-star"></i>
                        <% end %>
                        <% (5-(user.reviews.map{|review| review.rating}.sum.to_f / user.reviews.count)).round.times do %>
                          <i class="fa-regular fa-star"></i>
                        <% end %>
                        </span>
                      <% else %>
                        <span><%= 0 %> star </span>
                      <% end %>
                    <% else %>
                        <span><%= 0 %> plants</span>
                        <span><%= 0 %> star </span>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <% elsif user.healer? %>
          <div class="user-card">
            <%= link_to user_path(user) do %>
              <div class="user-card-body">
                <div class="user-card-image">
                  <% if user.photo.attached? %>
                    <%= cl_image_tag user.photo.key, crop: :fill, class:"index-card-image"%>
                  <% end %>
                </div>
                <div class="user-card-info">
                  <h5 class="user-card-title"><%= user.first_name.length < 35 ? user.first_name : user.first_name.first(35)%></h5>
                  <div class="user-card-text">
                    <% if user.plants.any? %>
                      <span><%= user.plants.count %> plants</span>
                      <% if user.reviews.any? %>
                        <span><% (user.reviews.map{|review| review.rating}.sum.to_f / user.reviews.count).round.times do %>
                          <i class="fa-solid fa-star"></i>
                        <% end %>
                        <% (5-(user.reviews.map{|review| review.rating}.sum.to_f / user.reviews.count)).round.times do %>
                          <i class="fa-regular fa-star"></i>
                        <% end %>
                      <% else %>
                        <span><%= 0 %> star </span>
                      <% end %>
                    <% else %>
                        <span><%= 0 %> plants</span>
                        <span><%= 0 %> star </span>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <!--- Started from here to make all user index--->
          <% elsif user.professional == false %>
            <div class="user-card">
              <%= link_to user_path(user) do %>
                <div class="user-card-body">
                  <div class="user-card-image">
                    <% if user.photo.attached? %>
                      <%= cl_image_tag user.photo.key, crop: :fill, class:"index-card-image"%>
                    <% end %>
                  </div>
                  <div class="user-card-info">
                    <h5 class="user-card-title"><%= user.first_name.length < 35 ? user.first_name : user.first_name.first(35)%></h5>
                    <div class="user-card-text">
                     <% if user.plants.any? %>
                      <span><%= user.plants.count %> plants</span>
                      <% if user.reviews.any? %>
                        <span><% (user.reviews.map{|review| review.rating}.sum.to_f / user.reviews.count).round.times do %>
                          <i class="fa-solid fa-star"></i>
                        <% end %>
                        <% (5-(user.reviews.map{|review| review.rating}.sum.to_f / user.reviews.count)).round.times do %>
                          <i class="fa-regular fa-star"></i>
                        <% end %>
                      <% else %>
                        <span><%= 0 %> star </span>
                      <% end %>
                    <% else %>
                        <span><%= 0 %> plants</span>
                        <span><%= 0 %> star </span>
                    <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
       <!--- Ended all users elsif here--->
      </div>
    <% else %>
      <div class="noresult">
      <h1>Sorry you're selection is empty.</h1>
      </div>
    <% end %>
  </div>
</div>
