<div class="container index-title">
  <div>
    <br>
    <h1 class="text-center">Discover Your Nearby Florist!</h1>
    <p class="text-center">If you're looking to brighten up your home or are simply looking for something to show off to guests, then a plant may well be the thing to rent! And in the past few years, there has been a real resurgence in the popularity of houseplants, leading to a boom in plant shop openings across Paris. Here's the best shops to purchase them!
    Lotus know your favorite shops!</p>
  </div>
</div>
<br>
<div class="container">
  <div class="user-map">
    <% if @users.any? %>
      <div class="card-container">
        <% @users.each do |user| %>
          <% if user.professional? %>
          <div class="user-card">
            <%= link_to user_path(user) do %>
              <div class="user-card-body">
                <div class="card-image">
                  <% if user.photo.attached? %>
                    <%= cl_image_tag user.photo.key, crop: :fill, class:"index-card-image"%>
                  <% end %>
                </div>
                <div class="user-card-info">
                  <h5 class="user-card-title"><%= user.pro_name.length < 35 ? user.pro_name : user.pro_name.first(35)%></h5>
                  <div class="user-card-text">
                    <% if user.reviews.any? %>
                      <span><%= user.reviews.map{|review| review.rating}.sum / user.reviews.count %> stars - <%= user.reviews.count %> reviews</span>
                    <% else %>
                      <span><%= 0 %> star - <%= 0 %> review</span>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <% elsif user.healer? %>
          <div class="user-card">
            <%= link_to user_path(user) do %>
              <div class="user-card-body">
                <div class="card-image">
                  <% if user.photo.attached? %>
                    <%= cl_image_tag user.photo.key, crop: :fill, class:"index-card-image"%>
                  <% end %>
                </div>
                <div class="user-card-info">
                  <h5 class="user-card-title"><%= user.first_name.length < 35 ? user.first_name : user.first_name.first(35)%></h5>
                  <div class="user-card-text">
                    <% if user.reviews.any? %>
                      <span><%= user.reviews.map{|review| review.rating}.sum / user.reviews.count %> stars - <%= user.reviews.count %> reviews</span>
                    <% else %>
                      <span><%= 0 %> star - <%= 0 %> review</span>
                    <% end %>
                  </div>
                </div>
           </div>    
       <!--- Started from here to make all user index--->
       <% elsif user.professional == false %>
       <div class="user-card">
          <%= link_to user_path(user) do %>
            <div class="index-card-body">
              <div class="card-image">
                <% if user.photo.attached? %>
                  <%= cl_image_tag user.photo.key, crop: :fill, class:"index-card-image"%>
                <% end %>
              </div>
              <div class="index-card-info">
                <h5 class="index-card-title"><%= user.first_name.length < 35 ? user.first_name + " " + user.last_name : user.first_name.first(35) + "..."%><i>   0 star</i> <span>0 reviews</span></a></h5>
              </div>
            </div>
            <% end %>
            </div>    
          <% end %>
       <!--- Ended all users elsif here--->
      <% end %>
    </div>
  <% else %>
    <div class="noresult">
    <h1>Sorry you're selection is empty.</h1>
    </div>
  <% end  %>
</div>
</div>