<br>
<div class="container userprofil-container">
  <div class="user-main-info">
    <div>
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, crop: :fill, class:"userprofil-image"%>
      <% end %>
    </div>
    <div class="userpage-info">
    <% if @user.professional? && @user.healer? %>
      <div class="userpage-name">
        <h1><%= @user.pro_name %></h1><i class="bi bi-shop"></i><i class="bi bi-bandaid"></i>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
          <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bandaid" viewBox="0 0 16 16">
          <path d="M14.121 1.879a3 3 0 0 0-4.242 0L8.733 3.026l4.261 4.26 1.127-1.165a3 3 0 0 0 0-4.242ZM12.293 8 8.027 3.734 3.738 8.031 8 12.293 12.293 8Zm-5.006 4.994L3.03 8.737 1.879 9.88a3 3 0 0 0 4.241 4.24l.006-.006 1.16-1.121ZM2.679 7.676l6.492-6.504a4 4 0 0 1 5.66 5.653l-1.477 1.529-5.006 5.006-1.523 1.472a4 4 0 0 1-5.653-5.66l.001-.002 1.505-1.492.001-.002Z"/>
          <path d="M5.56 7.646a.5.5 0 1 1-.706.708.5.5 0 0 1 .707-.708Zm1.415-1.414a.5.5 0 1 1-.707.707.5.5 0 0 1 .707-.707ZM8.39 4.818a.5.5 0 1 1-.708.707.5.5 0 0 1 .707-.707Zm0 5.657a.5.5 0 1 1-.708.707.5.5 0 0 1 .707-.707ZM9.803 9.06a.5.5 0 1 1-.707.708.5.5 0 0 1 .707-.707Zm1.414-1.414a.5.5 0 1 1-.706.708.5.5 0 0 1 .707-.708ZM6.975 9.06a.5.5 0 1 1-.707.708.5.5 0 0 1 .707-.707ZM8.39 7.646a.5.5 0 1 1-.708.708.5.5 0 0 1 .707-.708Zm1.413-1.414a.5.5 0 1 1-.707.707.5.5 0 0 1 .707-.707Z"/>
        </svg>
        <% if current_user == @user %>
          <div class="profil-icone">
            <i type="button" class="fa-solid fa-pen-to-square" data-toggle="modal" data-target="#profil-modal"></i>
          </div>
        <% end %>
      </div>
      <div class="name-pro"><p class="userpage-name"><%= @user.first_name %> <%= @user.last_name %></p></div>
    <% elsif @user.professional? %>
      <div class="userpage-name">
        <h1><%= @user.pro_name %></h1><i class="bi bi-shop"></i>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
            <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
        </svg>
        <% if current_user == @user %>
          <div class="profil-icone">
            <i type="button" class="fa-solid fa-pen-to-square" data-toggle="modal" data-target="#profil-modal"></i>
          </div>
        <% end %>
      </div>
    <% elsif @user.healer? %>
      <div class="userpage-name">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1><i class="bi bi-bandaid"></i>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bandaid" viewBox="0 0 16 16">
          <path d="M14.121 1.879a3 3 0 0 0-4.242 0L8.733 3.026l4.261 4.26 1.127-1.165a3 3 0 0 0 0-4.242ZM12.293 8 8.027 3.734 3.738 8.031 8 12.293 12.293 8Zm-5.006 4.994L3.03 8.737 1.879 9.88a3 3 0 0 0 4.241 4.24l.006-.006 1.16-1.121ZM2.679 7.676l6.492-6.504a4 4 0 0 1 5.66 5.653l-1.477 1.529-5.006 5.006-1.523 1.472a4 4 0 0 1-5.653-5.66l.001-.002 1.505-1.492.001-.002Z"/>
          <path d="M5.56 7.646a.5.5 0 1 1-.706.708.5.5 0 0 1 .707-.708Zm1.415-1.414a.5.5 0 1 1-.707.707.5.5 0 0 1 .707-.707ZM8.39 4.818a.5.5 0 1 1-.708.707.5.5 0 0 1 .707-.707Zm0 5.657a.5.5 0 1 1-.708.707.5.5 0 0 1 .707-.707ZM9.803 9.06a.5.5 0 1 1-.707.708.5.5 0 0 1 .707-.707Zm1.414-1.414a.5.5 0 1 1-.706.708.5.5 0 0 1 .707-.708ZM6.975 9.06a.5.5 0 1 1-.707.708.5.5 0 0 1 .707-.707ZM8.39 7.646a.5.5 0 1 1-.708.708.5.5 0 0 1 .707-.708Zm1.413-1.414a.5.5 0 1 1-.707.707.5.5 0 0 1 .707-.707Z"/>
        </svg>
        <% if current_user == @user %>
          <div class="profil-icone">
            <i type="button" class="fa-solid fa-pen-to-square" data-toggle="modal" data-target="#profil-modal"></i>
          </div>
        <% end %>
      </div>
    <% else %>
      <h1 class="userpage-name"><%= @user.first_name %> <%= @user.last_name %></h1>
      <% if current_user == @user %>
        <div class="profil-icone">
          <i type="button" class="fa-solid fa-pen-to-square" data-toggle="modal" data-target="#profil-modal"></i>
        </div>
      <% end %>
    <% end %>
      <% if @user.reviews.any? %>
        <% @rate = @array / @user.reviews.count %>
        <a href=""><i><%= @rate.round(1) %> stars</i> <span> - <%= @user.reviews.count %> reviews</span></a>
      <% else %>
        <a href=""><i><%= 0 %> star</i> <span> - <%= 0 %> review</span></a>
      <% end %>
      <%= render 'shared/modalprofilupdate', user: @user %>
    </div>

  </div>

  <div class="card-userpage-biotitle">
    <div class="card-userpage-biotext">
      <% if @user.bio? %>
        <h2>Bio text</h2>
        <p><%= @user.bio %></p>
      <% else %>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed sunt voluptas quam minus! Beatae obcaecati aspernatur tempora, expedita omnis laudantium alias eligendi facilis cum facere perferendis odio error labore est!</p>
      <% end %>
      <% if current_user == @user %>
        <div class="bio-icone">
          <i type="button" class="fa-solid fa-pen-to-square" data-toggle="modal" data-target="#bio-modal"></i>
          <%= render 'shared/modalbioupdate', user: @user %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render 'shared/ddown' %>

  <% if @user.plants.any? %>
    <div class="user-card-container">
      <% @user.plants.each do |plant| %>
        <div class="plant-card">
          <%= link_to plant_path(plant) do %>
            <div class="index-card-body">
              <div class="card-image">
                <% if plant.photo.attached? %>
                  <%= cl_image_tag plant.photo.key, crop: :fill, class:"index-card-image"%>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if current_user == plant.user %>
            <div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><%= plant.name %></li>
                  <li class="list-group-item"><%= plant.size %></li>
                  <li class="list-group-item"><%= plant.environment %></li>
                </ul>
              <div class="index-card-link">
                <i type="button" class="fa-solid fa-pen-to-square" data-toggle="modal" data-target="#plant-update-modal"></i>
                <%= link_to '', plant_path(plant), method: :delete, data: { confirm: "Are you sure you want to delete this offer?"}, class:"fa-solid fa-trash-can"%>
                <%= render 'shared/modalplantupdate', plant: plant %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="user-noresult">
      <h1>Start renting your plant</h1>
      <button type="button" class="btn btn-success"><%= link_to "Add a Plant", new_plant_path(@user)%></button>
    </div>
  <% end  %>
  <div>
    <h2>My reviews</h2>
    <% if @user.reviews.any? %>
      <% @user.reviews.each do |review| %>
      <div class="card-userpage-biotitle">
        <div>
          <%= cl_image_tag review.plant.photo.key, crop: :fill, class:"index-card-image"%>
        </div>
        <div class="card-userpage-biotext">
          <div class="review-rating">
            <h2><%= review.plant.name %></h2>
            <h2>Rating:</h2><h3><%= review.rating %> Stars</h3>
          </div>
          <p><%= review.content %></p>
        </div>
      </div>
      <% end %>
    <% else %>
    <div class="user-noresult">
      <h1>No reviews for the moment</h1>
    </div>
    <% end  %>
  </div>
  <br>
</div>
