<section class="pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-6">
          <h3 class="mb-3">Florist Shops Highlights</h3>
      </div>
      <div class="col-6 text-right">
          <a class="btn btn-light mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
              <i class="fa fa-arrow-left"></i>
          </a>
          <a class="btn btn-light mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
              <i class="fa fa-arrow-right"></i>
          </a>
      </div>
      <div class="col-12">
        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <% @carousel1.each do |plant| %>
                  <div class="col-md-4 mb-3">
                    <div class="car-card">
                      <%= link_to plant_path(plant) do %>
                        <div class="car-card-body">
                          <div class="car-card-image">
                            <% if plant.photo.attached? %>
                              <%= cl_image_tag plant.photo.key, crop: :fill, class:"car-card-image"%>
                            <% end %>
                          </div>
                          <div class="car-card-info">
                            <h4 class="car-card-title"><%= plant.name %></h4>
                            <p class="car-card-text"><%= plant.description.first(200) %></p>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <% @carousel2.each do |plant| %>
                  <div class="col-md-4 mb-3">
                    <div class="car-card">
                      <%= link_to plant_path(plant) do %>
                        <div class="car-card-body">
                          <div class="car-card-image">
                            <% if plant.photo.attached? %>
                              <%= cl_image_tag plant.photo.key, crop: :fill, class:"car-card-image"%>
                            <% end %>
                          </div>
                          <div class="car-card-info">
                            <h4 class="car-card-title"><%= plant.name %></h4>
                            <p class="car-card-text"><%= plant.description.first(200) %></p>
                          </div>
                        </div>
                       <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <% @carousel3.each do |plant| %>
                  <div class="col-md-4 mb-3">
                    <div class="car-card">
                      <%= link_to plant_path(plant) do %>
                        <div class="car-card-body">
                          <div class="car-card-image">
                            <% if plant.photo.attached? %>
                              <%= cl_image_tag plant.photo.key, crop: :fill, class:"car-card-image"%>
                            <% end %>
                          </div>
                          <div class="car-card-info">
                            <h4 class="car-card-title"><%= plant.name %></h4>
                            <p class="car-card-text"><%= plant.description.first(200) %></p>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
