<div class="card-deck">
  <div class="card">
    <%= link_to "Rent from individuals", plants_path, class: "option-title btn" %>
    <%= image_tag 'rent_particular.png', class: "option-photo option-body"%>
  </div>
  <div class="card">
    <%= link_to "Browse local florist", users_path, class: "option-title btn" %>
    <%= image_tag 'rent_buy.png', class: "option-photo option-body"%>
  </div>
  <div class="card">
    <%= link_to "Revive a plant", plants_path, class: "option-title btn" %>
    <%= image_tag 'save_plant.png', class: "option-photo option-body"%>
  </div>
</div>
