<%= render 'shared/banner' %>

<div class="about-us">
    <h1>Who We Are</h1>
    <p>We are a community of plant aficionados who want to bring the joy of plants to everyone's life. We believe access to plants should not be limited to those with  green thumb, and ownership can be as simple as enjoying a plant for an afternoon or single event. We believe in empowering local communities and small businesses to work together toward collaborative consumption. We believe collaboration is the key to elevating community-based economies. Let us share together.</p>
</div>

<div class="cards-container-home">
  <%= render 'shared/option_cards' %>
</div>

<div class="carousel-render">
  <%= render 'shared/carousel' %>
</div>

<div class="mission-render">
  <%= render 'shared/mission' %>
</div>

<div class="sub-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url('jungle.png')%>);">
  <h2 class="sub-banner-title">Join us and become part of our community</h2>
</div>

<div class="values-render">
  <%= render 'shared/values' %>
</div>
