<div class="container index-title">
  <div>
    <br>
    <h1 class="text-center">Discover our selection of plant!</h1>
    <p class="text-center">Lotus know the one you like! Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores cumque fuga beatae error dignissimos in architecto? Nisi dolore minus, velit facere omnis nostrum molestias cupiditate voluptatum, quisquam sit sint! Dolor?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore corporis natus, laudantium tempore accusamus inventore eligendi, voluptas autem perspiciatis recusandae, harum sint animi quam? Fugiat quidem tempora minus laborum nostrum.</p>
  </div>
</div>

<div class="container index-ddown">
  <%= render 'shared/ddown' %>
</div>

<div class="plant-map">
  <% if @plants.any? %>
    <div class="card-container">
      <% @plants.each do |plant| %>
        <div class="plant-card">
          <%= link_to plant_path(plant) do %>
            <div class="index-card-body">
              <div class="card-image">
                <% if plant.photo.attached? %>
                  <%= cl_image_tag plant.photo.key, crop: :fill, class:"index-card-image"%>
                <% end %>
              </div>
              <div class="index-card-info">
                <h5 class="index-card-title"><%= plant.name.length < 16 ? plant.name : plant.name.first(16) + "..."%></h5>
                <div class="index-card-text">
                  <p><%= plant.size %> - <%= plant.environment %></p>
                  <span><%= plant.rent_price %>€ /Day</span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="noresult">
    <h1>Sorry you're selection is empty</h1>
    </div>
  <% end  %>

  <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
