<div class="container container-form">
  <br>
  <h1 class="text-center" style="color: white">Your Plants</h1>
  <br>
  <div>
    <div class="container col-8">
      <%= simple_form_for @plant, remote: true do |f| %>
        <div class="form-double">
          <%= f.input :name, wrapper_html:{class: "input-form"}, placeholder: 'ex: Boston Fern' %>
          <%= f.input :species, wrapper_html:{class: "input-form"}, placeholder: 'ex: Nephrolepis exaltata' %>
        </div>
          <%= f.input :address, placeholder: 'Enter the address for the location of the plant.' %>
        <div class="form-double">
          <%= f.input :size, wrapper_html:{class: "input-form"}, collection: ["Large", "Medium", "Small"] %>
          <%= f.input :height, wrapper_html:{class: "input-form"}, collection: ["10cm - 20cm", "20cm - 30cm", "30cm - 60cm", "60cm - 100cm", "100cm+"] %>
        </div>
        <div class="form-double">
          <%= f.input :environment, wrapper_html:{class: "input-form"}, collection: ["Indoor", "Outdoor"] %>
          <%= f.input :sun_exposure, wrapper_html:{class: "input-form"}, collection: ["Direct", "Indirect"] %>
        </div>
        <div class="form-double">
          <%= f.input :rent_price, wrapper_html:{class: "input-form"}, placeholder: '5' %>
          <%= f.input :watering, wrapper_html:{class: "input-form"}, placeholder: 'ex: Water 0.5L once per week and mist leaves.' %>
        </div>
        <div class="control-input">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch3" name="plant[organic]">
            <label class="custom-control-label" for="customSwitch3">Organic</label>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch4" name="plant[flowering]">
            <label class="custom-control-label" for="customSwitch4">Flowering</label>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch5" name="plant[availabe_for_purchase]">
            <label class="custom-control-label" for="customSwitch5">Available for Purchase</label>
          </div>
        </div>

        <div class="form-double">
          <%= f.input :flower_color, wrapper_html:{class: "input-form"}, collection: ["Red", "Orange", "Yellow", "Green", "Blue", "Purple", "White", "Pink", "Multi"] %>
          <%= f.input :buy_price, wrapper_html:{class: "input-form"}, placeholder: '25' %>
        </div>
        <div class="form-double text">
          <%= f.input :description, wrapper_html:{class: "input-form"}, as: :text, placeholder: 'A feathery plant with a 100% green effect.' %>
          <%= f.input :care, wrapper_html:{class: "input-form"}, as: :text, placeholder: 'Cats are drawn to the smell so watch for them trying to eat the leaves.' %>
        </div>

        <%= f.input :photo, as: :file %>
        <div class="form-button">
          <%= f.submit "Confirm", class: "btn btn-success", style: "padding-left: 20px; padding-right: 20px"%> <%= link_to "back", plants_path, class: "btn btn-light", style: "padding-left: 20px; padding-right: 20px" %>
        </div>
      <% end %>
    </div>
    <br>
  </div>
</div>
