<br>
<br>
<div class="container-product">
  <div class="plant-image">
    <%= cl_image_tag @plant.photo.key, crop: :fill, class:"show-image" %>
  </div>
  <div class="plant-content">
    <div class="meta-info">
      <h1><%= @plant.name%></h1><h2><%= @plant.environment %> - <%= @plant.size %></h2>

      <div class="user-meta-info">
        <p>This plant is own by <%= @plant.user.first_name %></p>
        <a href=""><i>0 star</i> <span>0 reviews</span></a>
      </div>

      <div class="plant-price-infos">
        <h2><%= @plant.rent_price %>/day</h2> <i class="fa-solid fa-basket-shopping"></i>
      </div>
        <br>
      <div class="plant-infos">
        <span><i class="fas fa-sun"></i> <strong>Sun exposure</strong></span>
        <p><%= @plant.sun_exposure %></p>
      </div>
      <div class="plant-infos">
        <span><i class="fa-solid fa-faucet-drip"></i> <strong>Watering</strong></span>
        <p><%= @plant.watering %></p>
      </div>
      <div class="plant-infos">
        <span><i class="fa-solid fa-seedling"></i> <strong>Care</strong></span>
        <p><%= @plant.care %></p>
      </div>
        <br>
      <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal" style="font-size: 20px;">Reserve to rent</button></p>
      <%= link_to "back", plants_path, style:"padding-left: 20px; padding-right: 20px", class: "btn btn-secondary" %>
      <%= link_to 'delete', plant_path(@plant), method: :delete, data: { confirm: "Are you sure you want to delete this offer?"}, style:'padding-left: 20px; padding-right: 20px', class: "btn btn-secondary"%>

      <%= render 'shared/modal'%>

    </div>
  </div>
</div>
