<br>
<br>
<div class="container-product">
  <div class="plant-image">
    <div>
      <%= cl_image_tag @plant.photo.key, crop: :fill, class:"show-image" %>
      <div class="user-meta-info">
        <p>This plant is owned by <strong><%= link_to @plant.user.first_name, "#" %></strong></p>
        <a href=""><i>0 star</i> <span>0 reviews</span></a>
      </div>
    </div>
  </div>
  <div class="plant-content">
    <div class="meta-info">
      <div class="meta-title-info">
        <div class="meta-title">
          <h1><%= @plant.name %> </h1><h2> - </h2><h3><%= @plant.environment %></h3>
        </div>
        <span><%= @plant.species %></span>
        <h3>Size - <%= @plant.height %></h3>
      </div>

      <div class="plant-price-infos">
        <h2><%= @plant.rent_price %>€ /day</h2> <i class="fa-solid fa-basket-shopping"></i>
      </div>
        <br>
      <div class="plant-infos">
        <span><i class="fas fa-sun"></i> <strong>Sun exposure</strong></span>
        <p><%= @plant.sun_exposure %></p>
      </div>
      <div class="plant-infos">
        <span><i class="fa-solid fa-faucet-drip"></i> <strong>Watering</strong></span>
        <p><%= @plant.watering %></p>
      </div>
      <div class="plant-infos">
        <span><i class="fa-solid fa-seedling"></i> <strong>Care</strong></span>
        <p><%= @plant.care %></p>
      </div>
      <div class="plant-infos">
        <span><i class="fa-solid fa-info"></i> - <strong>Plant information</strong></span>
        <p><%= @plant.description %></p>
      </div>
      <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal" style="font-size: 20px;">Reserve to rent</button></p>
      <%= link_to "back", plants_path, style:"padding-left: 20px; padding-right: 20px", class: "btn btn-secondary" %>
      <%= link_to 'delete', plant_path(@plant), method: :delete, data: { confirm: "Are you sure you want to delete this offer?"}, style:'padding-left: 20px; padding-right: 20px', class: "btn btn-secondary"%>

      <%= render 'shared/modalplant'%>

    </div>
  </div>
</div>
